@import '../create-profile/create-profile.component.scss';


.Saved-users {


  &__h2 {
    width: 200px;
    margin: 100px auto;
  }

  &__ul {
    gap: 84px;
    list-style-type: none;
    flex-wrap: wrap;

    &--delete {
      display: flex;
      margin: 20px auto;
      align-items: center;
      justify-content: center;
      width: 75px;
      height: 40px;
      background-color: black;
      color: white;
      border: none;
      border-radius: 10px;

      &:hover {
        color: red;
      }
    }
  }
}
